@import "tailwindcss";

input,textarea{
  border:1px solid black;
  border-radius:5px;
  padding:10px;
  height:25px;
}
input::placeholder, textarea::placeholder{
  color:gray;
  padding:4px;
}
button{
  font-style:italic;
}